http://fluentd.local:80, http://quote.local:80, http://nodered.local:80, http://whoami.local:80 {

	proxy /  10.0.51.4:80 {

		policy least_conn
		transparent
		websocket
		
	}

}

http://traefik.local:80 {

	proxy / 10.0.51.4:8080 {

		policy least_conn
		transparent
		websocket

	}
}

http://consul.local:80 {

	proxy / 10.0.1.4:8500 10.0.2.4:8500 10.0.3.4:8500 {

		policy least_conn
		transparent
		websocket

	}
}

http://nomad.local:80 {

	proxy / 10.0.42.4:3000 {

		policy least_conn
		transparent
		websocket

	}
}
